*.png
*.fig
*.csv
*.asv
*.log.csv
*.asv
*.png
*.csv
*.pkl
!Data/*.csv
!Results/*.csv
.Rproj.user
.Rhistory
*.odt#
*.m~
Python/__pycache__/*
*.mat
Python/Notebooks/Asrt dataset introduction.pdf
*.ipynb
*checkpoint.ipynb
Python/Output/*
Python/Input/*
*.ipynb
Python/.ipynb_checkpoints/*
Data/*
Presentation/*
Condor/*
Doc/*
Figures/*
log/*
log
*.pyc
*.log
*.zip
*.DS_Store
