[PARAMETER_BAR_PLOT]
# bar: 598a8a
bar: 727ddc
error: 444b84
true_value: 4f579a


[CHAIN_PLOT]
chain0: 727ddc
chain1: 8e97e3 
chain2: aab1ea
chain3: c6cbf1
chain4: 5b64b0
chain5: 444b84
chain6: 2d3258
chain7: 16192c
true_value: 4f579a

[SCATTER_MATRIX]
markerfacecolor: 727ddc
markeredgecolor: 727ddc
markersize: 4